<%- include('../partials/formHeader') -%>
<div class="main">
	<div class=" forgot">

	</div>
	<div class=" third-col">
		<div class="small-form">
		   
			<div id="form">
			  <%- include('../partials/messages') -%>
				  <p class="text-center">Forgot Password?</p>
				  <form action="/auth/forgot-password" method="POST">
					  <div class="form-group mt-3">
					  <label for="exampleInputEmail1" style="font-weight: bold;" >Enter the  email address associated with your account :</label>
					  <input type="email" name="inputEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					  <!-- <p1 class="text-primary text-muted"><a href="/auth/forgot-password">Forgot password? </a> </p1> -->
				  </form>
				  <br>
				  <span style="font-size: 18px; text-align: end;"  class="">go back to login <p1 style="font-size: 20px; font-weight: bold;" class="text-primary">
					  <a href="/auth/register">click here</p1></a>
					  </span>

			</div>
			  

			<div>

			</div>
</div>
	 

<%- include('../partials/foot') -%>
