<%- include('../partials/head') -%>

<div class="form-flex">
	<div class="container-form login-form">
		<%- include('../partials/messages') -%>
		<div class="heading">
			<h1>Kindly Input 6-digit Token in the field below</h1>
		</div>
		<form action="/auth/forgot-password" method="post">
			<label for="email">E-mail Address</label>
			<input type="email" name="inputEmail" id="" placeholder="Enter email here" />
			<input type="submit" value="GO" />
		</form>
	</div>
</div>

<%- include('../partials/foot') -%>
