<%- include('../partials/formHeader') -%>
<div class="main">
	<div class="header-img">
		<img
			src="/images/lg.png"
			width="180px"
			class=""
			alt="logo"
			srcset=""
		/>
		</div>
		<div class="auth-wrapper">
			<div class="form">
				<div id="form">
					<%- include('../partials/messages') -%>
					<p class="text-center form-heading my-2">Forgot Password?</p>
					<p class="text ml-4" style="font-weight: bold;" >Enter the email address associated with your account:</p>
					<form class="d-flex justify-content-center align-items-center experience" action="/auth/forgot-password/" method="POST">
						<div class="form-group mt-5">
							<input type="email" name="inputEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
							<button type="submit" class="btn my-5 btn-primary">Submit</button>
						</div>
					</form>
					<span style="font-size: 20px; font-weight: bold;" class="text-primary">
						<a href="/auth/login">Go back to login</a>
					</span>
				</div>
			</div>
		</div>
	</div>	
</div>
		


<%- include('../partials/foot') -%>