<%- include('../partials/formHeader') -%>
<div class="main">
	<div class=" first-col" >
<img src="/images/lg.png" width="180px" class="mt-5 ml-3" alt="logo" srcset="">


	  </div>
	<div class=" third-col">
		<div class="form">
		   
			<div id="form">
			  <%- include('../partials/messages') -%>
				  <p class="text-center mb-2">Login In</p>
				  <form action="/auth/login" method="POST">
					  <div class="form-group">
					  <label for="exampleInputEmail1">Email address</label>
					  <input type="value" name="value" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
					  </div>
					  <div class="form-group">
					  <label for="exampleInputPassword1">Password</label>
					  <input type="password" name="password" class="form-control" id="exampleInputPassword1">
					  </div>
					  <button type="submit" class="btn btn-primary">Submit</button>
					  <p1 class="text-primary text-muted"><a href="/auth/forgot-password">Forgot password? </a> </p1>
				  </form>
				  <br>
				  <span style="font-size: 25px;"  class="">Not Registered? <p1 style="font-size: 20px; font-weight: bold;" class="text-primary">
					  <a href="/auth/register">Sign Up</p1></a>
					  </span>

			</div>
			  

			<div>

			</div>
</div>
		
		
<%- include('../partials/foot') -%>
</div>








<!-- styling -->

<!-- <style>
	@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
section
{
	position: relative;
	min-height: 100vh;
	background: #557085;
	display: flex;
	padding: 20px;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}
section.active
{
	background: #5a5a5a;
}
section .container
{
	position: relative;
	width: 800px;
	height: 500px;
	background: #fff;
	box-shadow: 0 15px 50px rgba(0,0,0,.1);
	overflow: hidden;
}
section .container .user
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
}
section .container .user .imgBx
{
	position: relative;
	width: 50%;
	height: 100%;
	background: #ff0;
	transition: 0.5s;
}
section .container .user .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
section .container .user .formBx
{
	position: relative;
	width: 50%;
	height: 100%;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;
	transition: 0.5s;
}
section .container .user .formBx form h2
{
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
	color: #555;
}
section .container .user .formBx form input
{
	width: 100%;
	padding: 10px;
	background: #f5f5f5;
	color: #333;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: 14px;
	margin: 8px 0;
	letter-spacing: 1px;
	font-weight: 300;
}
section .container .user .formBx form input[type="submit"]
{
	max-width: 100px;
	background: #677eff;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	transition: 0.5s;
}
section .container.active .user .formBx form input[type="submit"]
{
	background: #e73e49;
}
section .container .user .formBx form .signup
{
	position: relative;
	margin-top: 20px;
	font-size: 12px;
	letter-spacing: 1px;
	color: #555;
	text-transform: uppercase;
	font-weight: 300;
}
section .container .user .formBx form .signup a
{
	font-weight: 600;
	text-decoration: none;
	color: #677eff;
}
section .container .signupBx
{
	pointer-events: none;
}
section .container.active .signupBx
{
	pointer-events: initial;
}
section .container .signupBx .formBx
{
	top: 100%;
}
section .container.active .signupBx .formBx
{
	top: 0%;
}
section .container .signupBx .imgBx
{
	top: -100%;
}
section .container.active .signupBx .imgBx
{
	top: 0%;
}



section .container .signinBx .formBx
{
	top: 0;
}
section .container.active .signinBx .formBx
{
	top: 100%;
}
section .container .signinBx .imgBx
{
	top: 0;
}
section .container.active .signinBx .imgBx
{
	top: -100%;
}


@media (max-width: 991px)
{
	section .container
	{
		max-width: 400px;
	}
	section .container .imgBx
	{
		display: none;
	}
	section .container .user .formBx
	{
		width: 100%;
	}
	section .container.active .signinBx .formBx
	{
		top: -100%;
	}
}

</style>




<section>
	<div class="container">
		<div class="user signinBx">
			<div class="imgBx"><img src="/images/img1.jpg"></div>
			<div class="formBx">
				<form action="/auth/login" method="POST">
					<h2>Sign In</h2>
					<input type="email" name="email" placeholder="Email">
					<input type="password" name="password" placeholder="Password">
					<input type="submit" name="" value="Login">
					<p class="signup">don't have an account? <a href="/auth/register" onclick="toggleForm()">Sign up.</a></p>
				</form>
			</div>
		</div>
		<div class="user signupBx">
			<div class="imgBx"><img src="/images/img2.jpg"></div>
			<div class="formBx">
				<form action="/auth/register" method="POST">
					<h2>Create an account</h2>
					<input type="text" name="firstName" placeholder="Firstname">

					<input type="text" name="lastName" placeholder="Lastname">

					<input type="text" name="userName" placeholder="Username">

					<input type="email" name="email" placeholder="Email Address">

					<input type="password" name="password" placeholder="Create Password">

					<input type="password" name="confirmPassword" placeholder="Confirm Password">

					<input type="submit" name="" value="Register">

					<p class="signup">Already have an account? <a href="/auth/login" onclick="toggleForm()">Sign in.</a></p>
				</form>
			</div>
			
		</div>
	</div>
</section>

<script>
	function toggleForm(){
		var container = document.querySelector('.container');
		var section = document.querySelector('section');
		container.classList.toggle('active')
		section.classList.toggle('active')
	}
</script>



<footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer>
 -->




