<%- include('../partials/formHeader') -%>
<div class="main">
	<div class="header-img">
		<img
			src="/images/lg.png"
			width="180px"
			class=""
			alt="logo"
			srcset=""
		/>
	</div>
	<div class="auth-wrapper">
		<div class="form">
		<div id="form" class="mt-5">
		<%- include('../partials/messages') -%>
				<p class="text-center mb-2 form-heading">Reset Password</p>
				<form action="/auth/reset-password/<%- token %>" method="POST">
					<div class="form-group">
						<label for="exampleInputPassword1">New Password</label>
						<input
							type="password"
							name="newPassword"
							class="form-control"
							id="exampleInputPassword1"
						/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Confirm Password</label>
						<input
							type="password"
							name="confirmNewPassword"
							class="form-control"
							id="exampleInputPassword1"
						/>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
</div>


<%- include('../partials/foot') -%>
