<%- include('../partials/head') -%>

<div class="form-flex">
	<div class="container-form reset-form">
			<%- include('../partials/messages') -%>
		<h1>Reset Password</h1>
		<form action="/auth/reset-password" method="post">
			<label for="oldpassword">New Password</label>
			<input
				type="password"
				name="newPassword"
				id=""
				placeholder="Type your new password"
			/>
			<label for="email">Confirm New Password</label>
			<input
				type="password"
				name="confirmNewPassword"
				id=""
				placeholder="Type here"
			/>
			<input type="submit" value="Set password" />
		</form>
	</div>
</div>

<%- include('../partials/foot') -%>
