<%- include('../partials/formHeader') -%>
<div class="height: 100%;">
	<div class="row">
		
		<div class="col-2 first-col" style="height: 100vh;" >

	<div>
<img src="/images/lg.jpeg" width="180px" class="mt-5 ml-3" alt="logo" srcset="">
	  </div>
	  </div>
	  <div class="col-4 img">	
  </div>
	  <div class="col-6 third-col">
		  <div class="form">
			 
			  <div id="form" class="mt-5">
				<%- include('../partials/messages') -%>
					<p class="text-center">Reset Password</p>
					<form action="/auth/reset-password" method="POST">
						
						<div class="form-group">
						<label for="exampleInputPassword1">New Password</label>
						<input type="password" name="newPassword" class="form-control" id="exampleInputPassword1">
						</div>
						<div class="form-group">
							<label for="exampleInputPassword1">Confirm Password</label>
							<input type="password" name="confirmNewPassword" class="form-control" id="exampleInputPassword1">
							</div>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>

			  </div>
				

			  <div>

			  </div>

		  </div>
	  </div>
	</div>
</div>


<%- include('../partials/foot') -%>
