<%- include('../partials/formHeader') -%>
<div class="main">
	<div class="header-img">
		<img src="/images/lg.png" width="180px" class="" alt="logo" srcset="" />
	</div>
	<div class="auth-wrapper">
		<div class="form">
			<div id="form">
				<%- include('../partials/messages') -%>
				<p class="text-center my-5 form-heading">Verify Account</p>
				<form action="/auth/verify" method="POST">
					<div class="form-group mt-4">
						<label for="exampleInputEmail1" style="font-weight: bold"
							>Enter the six(6) digits token sent to your email</label
						>
						<input
							type="text"
							name="inputToken"
							class="form-control"
							id="exampleInputEmail1"
							aria-describedby="emailHelp"
							required
						/>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>
<%- include('../partials/foot') -%>
