<nav class="navbar navbar-expand-lg fixed-top p-4 navbar-light bg-white">
	<a class="navbar-brand flex-grow-1" href="#"
		><img src="/images/lg.png" alt="logo"
	/></a>
	<% if(isAuthenticated) { %>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
	<div class="avatar-circle">
		<%= user.avatar %>
	</div>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<%= user.avatar %>
			</li>
			<li class="nav-item active">
				<a
					class="nav-link"
					data-toggle="collapse"
					href="#writePost"
					id="show"
					role="button"
					aria-expanded="false"
					aria-controls="writeComment"
				>
					Create post
					<span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/auth/logout">Logout</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/user/home">Profile</a>
			</li>
		</ul>
	</div>
	<% } else { %>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarNav"
		aria-controls="navbarNav"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<i class="fas fa-user-circle text-primary"></i>
	</button>

	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<i class="fas fa-user-circle text-primary"></i>
			</li>
			<li class="nav-item active">
				<a
					class="nav-link"
					data-toggle="collapse"
					href="#writePost"
					role="button"
					aria-expanded="false"
					aria-controls="writeComment"
					>Create post<span class="sr-only">(current)</span></a
				>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/auth/login">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/auth/register">Register</a>
			</li>
		</ul>
	</div>
	<% } %>
</nav>