<nav class="navbar navbar-expand-lg py-3 navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="#"> WAAW Social </a>
	<button
		class="navbar-toggler"
		type="button"
		data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent"
		aria-expanded="false"
		aria-label="Toggle navigation"
	>
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<% if(isAuthenticated) { %>
			<li class="nav-item">
				<div class="avatar-circle">
					<span class="initials text-secondary">
						<%= user.avatar %>
					</span>
				</div>
				<a class="dropdown-item" href="/auth/logout">Logout</a>
			</li>
			<% } else { %>
			<li class="nav-item">
				<a class="dropdown-item" href="/user/login">Login</a>
			</li>
			<% } %>
			<li class="nav-item">
				<a
					class="dropdown-item"
					data-toggle="collapse"
					href="#writePost"
					role="button"
					aria-expanded="false"
					aria-controls="writeComment"
				>
				Create Post
				</a>
			</li>
		</ul>
	</div>
</nav>
<!-- !End of Navbar -->
