.main {
	width: 100vw;
	height: 100vh;
	background-color: #959a9e;
}
.img {
	background: url("/images/Group.svg"), #959a9e;
	background-repeat: no-repeat;
	background-position: center;
	opacity: 0.8;
	max-width: 800px;
	margin: 0 auto;
}
.auth-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.first-col {
	width: 100%;
	height: 350px;
	max-width: 300px;
	background: url("/images/Group.svg"), #959a9e;
	background-repeat: no-repeat;
}
.form {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 400px;
	background-color: #f3f3f3;
}
.form form input {
	width: 350px;
}

.form form button {
	width: 350px;
	font-weight: 800;
}

.form-heading {
	font-size: 25px !important;
	font-weight: 600 !important;
}

#form p {
	margin: 10px 0px 0px 0px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#form span {
	margin: 0px 0px 0px 40px;
}

@media screen and (max-width: 700px) {
	.main .third-col .regform {
	width: 100vw;
	padding: 0 0.2rem;
	height: auto;
	background-color: #fff;
	padding-bottom: 2rem;
}
	.auth-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.first-col {
		display: none;
	}
}

@media screen and (max-width: 320px) {
.main .third-col .regform {
	width: 100vw;
	padding: 0 0.2rem;
	height: auto;
	background-color: #fff;
	padding-bottom: 2rem;
}
	.form {
		margin-top: 50px;
		padding-left: 0.1rem;
		padding-right: 0.1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: 400px;
		background-color: #f3f3f3;
	}
	.form form input {
		width: 100%;
	}

	.form form button {
		width: 100%;
		font-weight: 800;
	}
}

@media screen and (max-width: 400px) {
	.main .third-col .regform {
	width: 100vw;
	padding: 0 0.2rem;
	height: auto;
	background-color: #fff;
	padding-bottom: 2rem;
}
	.form {
		margin-top: 50px;
		padding-left: 0.1rem;
		padding-right: 0.1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100vw;
		height: 400px;
		background-color: #f3f3f3;
	}
	.form form input {
		width: 100%;
	}

	.form form button {
		width: 100%;
		font-weight: 800;
	}
}

form .row button {
	font-weight: 800;
}

@media screen and (max-width: 500px) {
	.regform {
		width: 80vw;
		height: auto;
	}
	.regform form {
		width: 100%;
	}
}

.regform {
	width: 500px;
	height: auto;
	background-color: #fff;
	padding-bottom: 2rem;
}
.regform form {
	width: 80%;
	margin: auto;
}

.form-heading img {
	width: 150px;
	height: auto;
}