/* stylelint-disable selector-list-comma-newline-after */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-family: "Poppins", sans-serif; 
}

body {
	overflow-x: hidden;
	font-family: "Poppins", sans-serif;
	background-color: #959a9e;
}

::placeholder {
	color: #ced0d1;
	opacity: 0.3;
	
}

.page-container {
	top: auto;
}

.user-details_left {
	margin-top: -1.5rem;
}

#profile-form {
	max-width: 900px;
	background: #e5e5e5;
	display: flex;
	margin: 100px auto 0;
}

#profile-form form {
	width: 350px;
	margin: 0 auto 0;
	padding: 4rem 0;
}

#profile-form form p {
	font-weight: bolder;
}

.blog-header {
	line-height: 1;
	border-bottom: 1px solid #e5e5e5;
}

.cant-post-form {
	margin-top: 150px;
}

.auth-wrapper {
	max-width: 100%;
}

.wrapper {
	max-width: 600px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

.display-4 {
	font-size: 2.5rem;
}

.navbar-brand {
	margin-left: -2rem !important;
}
.navbar-brand img {
	width: 150px;
	height: auto;
}

/* avatar */
.avatar-circle {
	width: 40px;
	height: 40px;
	margin: 1rem;
	background-color: #007bff;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.avatar-circle .initials {
	position: relative;
	top: 0.7rem;
	color: #f9f9f9;
	font-size: 1.3rem;
	line-height: 0.5rem;
}

.header-avatar-circle {
	width: 40px;
	height: 40px;
	margin: 0 1rem;
	background-color: #007bff;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.header-avatar-circle .header-initials {
	position: relative;
	top: 0.5rem;
	color: #f9f9f9;
	font-weight: bolder;
	font-size: 1.2rem;
	line-height: 0.5rem;
}

.user-name {
	margin-top: -0.5rem;
	margin-left: 1rem;
}

.user-name .tag {
	color: rgb(8, 185, 8);
	font-weight: bold;
}

.timestamp {
	margin-right: 10rem;
	padding-bottom: 0;
	margin-top: 3rem;
	font-size: 0.8rem;
}

.avatar-profile {
	width: 50px;
	height: 50px;
	background-color: #007bff;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.initials {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	color: #fff;
}
.initials-profile {
	position: relative;
	top: 3px; /* 25% of parent */
	font-size: 30px; /* 50% of parent */
	line-height: 35px; /* 50% of parent */
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.fa-comments,
.fa-heart {
	font-size: 20px;
	color: #fff;
	margin-right: 1rem;
}

.isLiked {
	color: rgb(153, 153, 4) !important;
	font-size: 20px !important;
	z-index: 5 !important;
}

.stroke-transparent {
	-webkit-text-stroke: 1px #000;
	-webkit-text-fill-color: transparent;
}

.like-btn {
	background: none;
	border: none;
}

.navbar-toggler {
	border: none;
}

.navbar-brand img {
	width: 200px;
}

.nav-link {
	font-family: "Poppins", sans-serif;
	margin-right: 20px;
	font-size: 20px;
}

.navbar-expand-lg .navbar-collapse {
	/* display: flex; */
	flex-direction: row;
	justify-content: flex-end;
	justify-items: center;
}

.navbar .navbar-nav .nav-link:hover {
	color: #fa0000;
}

.navbar .navbar-nav .nav-link {
	position: relative;
}
.navbar .navbar-nav .nav-link::after {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #fa0000;
	color: transparent;
	width: 0%;
	content: "";
	height: 3px;
	transition: all 0.5s;
}
.navbar .navbar-nav .nav-link:hover::after {
	width: 100%;
}

/* at screen 991 */

@media (max-width: 325px) {
	.post-feed {
		width: 100vw;
	}
}

@media (min-width: 900px) {
	.navbar {
		display: none;
	}
}

@media (max-width: 900px) {
	.news-feed,
	.profile-feed {
		display: none;
	}

	.post-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.post-feed {
		width: 100%;
	}
}

@media (max-width: 991px) {
	.navbar .navbar-nav .nav-link {
		padding: 1em 0.7em;
	}
	.navbar {
		padding: 0;
	}
	.navbar .navbar-brand {
		padding: 0 0.7em;
	}

	.navbar .navbar-nav .nav-link {
		position: relative;
	}

	.fadeEffect {
		opacity: 0.7;
		transition: opacity 4s;
		transition-timing-function: ease-out;
	}

	/* styling of the 404 page */

	.page404 {
		padding: 40px 0;
		background: #fff;
		font-family: "Poppins", sans-serif;
	}

	.page404 img {
		width: 100%;
	}

	.four_zero_four_bg {
		background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
		height: 400px;
		background-position: center;
	}

	.four_zero_four_bg h1 {
		font-size: 80px;
	}

	.four_zero_four_bg h3 {
		font-size: 80px;
	}

	.link404 {
		color: #fff !important;
		padding: 10px 20px;
		background: #39ac31;
		margin: 20px 0;
		display: inline-block;
	}

	.contant_box_404 {
		margin-top: -50px;
	}
}
