.img{
    
    background: url('/images/Group.svg'), #2e69e7;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    /* max-width: 800px; */
    margin: 0 auto;
}

  
  .forgot {
    background: url('/images/Forgot.svg'), #2e69e7;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    /* max-width: 800px; */
    margin: 0 auto;
  }
  .confirm {
    background: url('/images/Confirmed.svg'), #2e69e7;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    /* max-width: 800px; */
    margin: 0 auto;
  }
.first-col{
    background-color: #2e69e7;
    opacity: 0.8;
    /* position: relative; */
    
    
}
.third-col{
    background-color: #2e69e7;
    opacity: 0.8;
}
.form{
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: #5e5555;
    margin-right: 50px;
}
.regform{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 520px;
    background-color: #f3f3f3;
}
#form{
    height: 50%;
    margin-top: 10px;
    
}
#form p{
    font-size: 25px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }