<%- include('../partials/head') -%> <%- include('../partials/header') -%>

<div class="container">
	<%- include('../partials/messages') -%>
	<main class="mainBody">
		<div class="user-profile">
			<div class="user-profile_avater"></div>
			<div class="user-profile_fullName"></div>
			<div class="user-profile_username"></div>
		</div>
		<div class="user-activity">
			<span> number of post</span>
			<span>number of comments</span>
		</div>
		<div class="nav-item">
			<a class="nav-link" href="/auth/change-password">Change Password</a>
		</div>
	</main>
</div>

<%- include('../partials/foot') -%>
